//main: ../main.scss
/* Color Palette */
$black: #000;
$blue: #66cedd;
$blush-light: #f1bcaa;
$blush: #ea9b7f;
$green: #43b02a;
$green-light: #8ed07f;
$green-medium: #5fbc4a;
$grey-green-light: #d0ebca;
$grey-green: #b4dfaa;
$grey: #262626;
$grey-light: #bfbfbf;
$grey-lighter: #f2f2f2;
$grey-medium: #666;
$heather: #9a8bb4;
$khaki: #f6d5ca;
$lavender: #6f5a95;
$orange: #c35500;
$orange-light: #dc582a;
$peach: #e1714a;
$purple: #563d82;
$skyblue: #bbb1cd;
$skyblue-light: #d5cfe0;
$teal: #00aec7;
$teal-light: #99dfe9;
$teal-lighter: #bfebf1;
$teal-medium: #26bacf;
$white: #fff;
